#wrapper {
  width: 30%;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  min-width: 400px;
}
.home-card {
  background-color: white;
  mat-card-content {
    color: black;
    margin-top: 25%;
  }
  min-height: 50vh;
  font-family: "Roboto";
  font-size: 14px;
  color: #4251b6;
}
