#wrapper {
  width: 50%;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  min-width: 600px;
}

.userInfo-card {
  background-color: White;
  min-height: 300px;
  font-size: 14px;
  color: black;
}

.userInfo-card mat-card-content {
  color: black;
  min-height: 150px;
}

.userInfo-card .col-1 {
  float: left;
  width: 25%;
  height: 150px;
  padding-left: 10px;
  padding-top: 10px;
}

.userInfo-card .col-2 {
  width: 100%;
}

.header {
  letter-spacing: 1px;
  font-size: 24px;
  padding: 10px;
}

.image-holder {
  height: 100px;
  margin-left: 15px;
  background-image: url("/assets/images/No_Profile_Image.png") !important;
  background-size: contain;
  background-repeat: no-repeat;
}

.image-holder img {
  margin-left: -15px;
}

.userInfo {
  text-align: justify !important;
  text-justify: inter-word !important;
  padding-top: 15px;
}
